{{ define "main" }} {{ partial "page-header.html" . }}

<!-- <div class="mt-5 mb-5 vh-30" style="background:  #9b9b9b;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mt-5 pt-5">Deja tú opinión o alguna sugerencia... </h1>
            </div>
            <div class="col-md-6">
                <form class="mt-5 pt-5 mb-5 pb-5" action="https://getform.io/f/1228ec3c-a774-4380-ba17-d57a3b93ac32" method="POST">
                    <div class="form-group">
                        <label type="text" name="name" style="font-weight: bold;">Nombre</label>
                        <input class="border rounded-0 form-control contact-input" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold;">Email</label>
                        <input class="form-control contact-input" type="email" name="email" required="">
                    </div>

                    <div class="form-group">
                        <label style="font-weight: bold;">Mensaje</label>
                        <textarea type="text" name="subject" class="form-control contact-input"></textarea>
                    </div>
                    <button class="btn contact-button" type="submit">Enviar</button></form>
                </form>
            </div>
        </div>
    </div>
</div> -->
<!--Section: Contact v.2-->
<div class="mt-5 mb-5 vh-30">
    <div class="container">
        <div class="row">

            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="https://getform.io/f/1228ec3c-a774-4380-ba17-d57a3b93ac32" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <!-- <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Your name</label>
                                </div>
                            </div> -->
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Correo Electrónico</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">Subject</label>
                                </div>
                            </div>
                        </div> -->
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message">Dejanos tu Mensaje</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="text-center text-md-left">
                            <button class="btn contact-button" type="submit">Enviar</button>
                        </div>
                        <div class="status"></div>

                    </form>


                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Guadalupe Victoria # 122, Ejido Guadalupe Victoria</p>
                        </li>

                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+ 9515792063</p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>hola@mossocafe.mx</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>

        </div>
    </div>
</div>
<!--Section: Contact v.2-->
{{ end }}
